body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .cursosActionsButton{
    margin: 5px;
    margin-right: 100px;
    display: block;
  }

  .usuariossActionsButton{
    margin: 5px;
    margin-right: 100px;
    display: inline-block;
  }

  .BackButton{
    height: 30px;
    width: 30px;
  }

  .semestreActions{
    margin: 5px;
  }

  .verButton{
    margin: 5px;
    margin-left: 0px;
  }

  .cursosListInSemestre li{
    font-size: 25px;
  }

  .cursoTextButtonLayout{
    display: flex;
  }

  .eliminarCursoSemestre{
    margin-left: 15px;
  }

  .pRol{
    margin-bottom: 0px;
  }

.activityDescription{
  color: #555555;
}

.activityDescription:hover {
  color: #555555;  
  text-decoration: none;
}

.incisoDescription {
  color: #555555;  
}

.incisoDescription:hover {
  color: #555555;  
  text-decoration: none;
}

.subincisoDescription {
  color: #555555;  
}

.subincisoDescription:hover {
  color: #555555;  
  text-decoration: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #d1d1d1
}

 .variacionText {
  display: inline-block;
  width: 65%;
 }

 .variacionTextInputDiv {
  display: inline-block;
  position: absolute;
  left: 85%;
 }

 .variacionPuntaje {
  display: inline-block;
  position: absolute;
  left: 70%;
  text-align: center;
 }

 .notaTextInput{
   width: 40px;
 }

 .estadoTextHeader, .estadoText {
  display: inline-block;
  font-size: 19px;
 }

 .checkCancelButtons{ 
   text-align: center;
 }

 .checkButton, .cancelButton {
   background-color: white;
   border: none;
 }

 .checkCancelButtonsInciso {
   display: inline-block;
 }

 .checkButtonInciso, .cancelButtonInciso {
  background-color: #F7F7F7;
  border: none;
}

.checkCancelButtonsCriterio {
  margin-left: 5px;
}

.incisoButton,.incisoDescription {
  display: inline-block;
}

.integranteEnGrupo {
  display: inline-block;
}

.notFound {
  color: rgb(123, 123, 123);
  margin-top: 5px;
  text-align: center;
}

.found {
  color: black;
  margin-top: 5px;
 text-align: center;
}

.noFinalizado{
  color: red;
}

.finalizado{
  color: green;
}

.sinEmpezarCalificacion{
  color: red;
}

.noFinalizadoCalificacion{
  color: #fcc603;
}

.finalizadoCalificacion{
  color: green;
}


.habilitarButton{
  height: 40px;
}

.agregarUsuarios{
  display: inline-block;
}

/* Autocomplete css */

#autoComplete_wrapper {
  position: relative;
  display: inline-block;
}

#autoComplete {
  position: relative;
  padding: 0 2rem 0 3.5rem;
  height: 2.1rem;
  width: 6rem;
  font-size: 1.2rem;
  outline: none;
  border-radius: 50rem;
  border: 0.05rem solid rgb(43, 168, 240);
  caret-color: rgb(43, 168, 240);
  color: rgba(255, 255, 255, 0);
  background-image: url(./images/magnifier.svg);
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-origin: border-box;
  background-position: center;
  transition: all 0.4s ease;
  -webkit-transition: all -webkit-transform 0.4s ease;
  text-overflow: ellipsis;
}

#autoComplete::placeholder {
  color: rgba(43, 168, 240, 0);
  transition: all 0.3s ease;
}

#autoComplete:hover::placeholder {
  color: rgba(43, 168, 240, 0.3);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus::placeholder {
  padding: 0.1rem 0.6rem;
  font-size: 1rem;
  color: rgba(43, 168, 240, 0.3);
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete::selection {
  color: transparent;
}

#autoComplete:focus::selection {
  color: #fff;
  background-color: rgba(43, 168, 240, 1);
}

#autoComplete:hover {
  padding: 0 2rem 0 3.5rem;
  color: rgba(43, 168, 240, 1);
  height: 3rem;
  width: 16.5rem;
  background-image: url(./images/magnifier.svg);
  background-size: 1.7rem;
  background-position: left 1.05rem top 0.7rem;
  transition: all 0.3s ease;
  -webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete:focus {
  padding: 0 2rem 0 3.5rem;
  color: rgba(43, 168, 240, 1);
  height: 3rem;
  width: 16.5rem;
  border: 0.05rem solid rgb(43, 168, 240);
  background-image: url(./images/magnifier.svg);
  background-size: 1.5rem;
  background-position: left 1.05rem top 0.8rem;
  box-shadow: rgba(43, 168, 240, 0.1) 0px 0px 20px 5px;
}

#autoComplete_list {
  position: fixed;
  z-index: 1000;
  padding: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 18rem;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all -webkit-transform 0.1s ease;
}

.autoComplete_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 280px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
}

.autoComplete_result::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_result:last-child {
  border-radius: 0 0 1rem 1rem;
}

.autoComplete_result:hover {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(43, 168, 240, 1);
  border-right: 2px solid rgba(43, 168, 240, 1);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.autoComplete_result:focus {
  outline: none;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(43, 168, 240, 1);
  border-right: 2px solid rgba(43, 168, 240, 1);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.autoComplete_highlighted {
  opacity: 1;
  color: rgba(43, 168, 240, 1);
  font-weight: bold;
}

.autoComplete_highlighted::selection {
  color: rgba(#ffffff, 0);
  background-color: rgba(#ffffff, 0);
}

.autoComplete_selected {
  cursor: pointer;
  background-color: rgba(255, 248, 248, 0.9);
  border-left: 2px solid rgba(43, 168, 240, 1);
  border-right: 2px solid rgba(43, 168, 240, 1);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

@media only screen and (max-width: 600px) {
  #autoComplete {
    width: 5rem;
  }

  #autoComplete:focus {
    width: 11rem;
    background-size: 1.6rem;
    background-position: left 1.1rem top 0.75rem;
  }

  .autoComplete_result:first-child {
    border-radius: 1rem 1rem 0 0;
  }

  .autoComplete_result:last-child {
    border-radius: 0 0 1rem 1rem;
  }

  .autoComplete_result:only-child {
    border-radius: 1rem;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #autoComplete {
    border-width: 1px;
  }

  #autoComplete:hover {
    border-width: 1px;
  }

  #autoComplete:focus {
    border-width: 1px;
  }
}

@-moz-document url-prefix() {
  #autoComplete {
    border-width: 1px;
    background-size: 1.2rem;
    background-origin: border-box;
    background-position: center;
  }

  #autoComplete:hover {
    border-width: 1px;
  }

  #autoComplete:focus {
    border-width: 1px;
    background-position: left 1.1rem top 0.8rem;
  }
}

.no_result {
  margin: 0.15rem auto;
  padding: 0.6rem;
  max-width: 400px;
  border: 0.05rem solid #e3e3e3;
  list-style: none;
  text-align: left;
  font-size: 1.1rem;
  color: rgb(123, 123, 123);
  transition: all 0.1s ease-in-out;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  outline: none;
}

.no_result:hover {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}

.no_result:focus {
  cursor: default;
  background-color: #fff;
  border: 0.05rem solid #e3e3e3;
}
 /* End of autocomplete css */