{% extends "layout.html" %}

{% block content %}
    <div class="row">
        {% if current_user.rol_id == 2 or current_user.rol_id == 3 or current_user.rol_id == 4%}
            <div class="col-md-7">
        {% else %}
            <div class="col-md-10">
        {% endif %}
        <h1>Lista de cursos</h1>
        {% if cursos %}
            {% for curso in cursos %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h2><a class="mr-2">{{ curso.nombre }}</a></h2>
                        </div>
                            <form action="{{ url_for('cursos.ver_curso', curso_id=curso.id) }}">
                                    <button type="submit" class="btn btn-outline-info verButton">Ver curso</button>
                            </form>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <h4>No hay cursos</h4>
        {% endif %}
            </div>
            <div class="col-md-5">
                {% if current_user.rol_id == 2 or current_user.rol_id == 3 or current_user.rol_id == 4%}
                <div class="content-section">
                    <h3>Acciones cursos</h3>
                    <div>
                        <form action="{{ url_for('cursos.crear_curso') }}">
                            <button type="submit" class="btn btn-outline-info cursosActionsButton">Crear curso</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}