{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-10">
            <form action="{{ url_for('cursos.get_cursos')}}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <br>
            {% if current_user.rol_id != 1 %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h3 class="mr-2">{{ curso.nombre }} - Acciones sobre el curso</h3>
                        </div>
                        <form action="{{ url_for('cursos.editarNombre_curso', curso_id=curso.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Cambiar nombre curso</button>
                        </form>
                        <form action="{{ url_for('cursos.eliminar_curso', curso_id=curso.id) }}">
                            <button type="submit" class="btn btn-outline-danger semestreActions">Eliminar curso</button>
                        </form>
                    </div>
                </article>

                <article class="media content-section">
                    <div class="media-body">
                            <div class="article-metadata">
                                <h3 class="mr-2">{{ curso.nombre }} - Acciones sobre los semestres del curso</h3>
                            </div>
                            <form action="{{ url_for('cursos.agregarSemestre_curso', curso_id=curso.id) }}">
                                <button type="submit" class="btn btn-outline-info semestreActions">Agregar semestre a curso</button>
                            </form>
                            <h4>Lista de semestres:</h4>
                            <ul style="list-style-type:disc;" class="cursosListInSemestre">
                                {% if not curso.semestres %}
                                    <li>Ninguno</li>
                                {% else %}
                                    {% for semestre in curso.semestres %}
                                        <li>
                                            <div class="cursoTextButtonLayout">
                                                {{ semestre.nombre }}
                                                {% if current_user.rol_id != 1 %}
                                                    <form action="{{ url_for('semestres.verLista_semestre', curso_id=curso.id, semestre_id=semestre.id) }}">
                                                        <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver lista de estudiantes</button>
                                                    </form>
                                                    <form action="{{ url_for('cursos.eliminarCurso_semestre', semestre_id=semestre.id,  curso_id=curso.id) }}">
                                                        <button type="submit" class="btn btn-outline-danger eliminarCursoSemestre">Eliminar semestre</button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                    </div>
                </article>
            {% endif %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h3 class="mr-2">{{ curso.nombre }} - Actividades del curso</h3>
                        </div>
                        {% if current_user.rol_id != 1 and curso.semestres %}
                        <form action="{{ url_for('actividades.crear_actividad', curso_id=curso.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Crear actividad</button>
                        </form>
                        {% endif %}
                        <h4>Lista de actividades:</h4>
                        <ul style="list-style-type:disc;" class="cursosListInSemestre">
                            {% if not curso.semestres %}
                                <p>Es necesario tener por lo menos un semestre asignado para tener actividades asignadas</p>
                            {% elif not curso.actividades  %}
                                <li>Ninguna</li>
                            {% else %}
                                {% for actividad in curso.actividades %}
                                    {% for semestre in curso.semestres %}
                                        {% if actividad.semestre_id == semestre.id %}
                                            <li>
                                                <div class="cursoTextButtonLayout">
                                                    <p> ({{semestre.nombre}}) - {{ actividad.nombre }}</p>
                                                    {% if current_user.rol_id != 1 %}
                                                        <form action="{{ url_for('actividades.ver_grupos_actividad', actividad_id=actividad.id, curso_id=curso.id) }}">
                                                            <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver grupos</button>
                                                        </form>
                                                        <form action="{{ url_for('actividades.ver_actividad', actividad_id=actividad.id, curso_id=curso.id) }}">
                                                            <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver actividad</button>
                                                        </form>
                                                        <form action="{{ url_for('actividades.elegir_grupo_calificar_actividad', actividad_id=actividad.id, curso_id=curso.id) }}">
                                                            <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver calificaciones</button>
                                                        </form>
                                                    {% endif %}
                                                    <form action="{{ url_for('actividades.elegir_grupo_calificar_actividad', actividad_id=actividad.id, curso_id=curso.id) }}">
                                                        <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Calificar</button>
                                                    </form>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </article>
        </div>
    </div>
{% endblock content %}