{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('cursos.get_cursos')}}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <br>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h3 class="mr-2">{{ curso.nombre }}</h3>
                    </div>
                    {% if current_user.rol_id != 1 %}
                        <form action="{{ url_for('cursos.editarNombre_curso', curso_id=curso.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Cambiar nombre curso</button>
                        </form>
                        <form action="{{ url_for('cursos.eliminar_curso', curso_id=curso.id) }}">
                            <button type="submit" class="btn btn-outline-danger semestreActions">Eliminar curso</button>
                        </form>
                        <form action="{{ url_for('cursos.agregarSemestre_curso', curso_id=curso.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Agregar semestre a curso</button>
                        </form>
                    {% endif %}
                    {% if not semestres %}
                        <h4>No hay semestres asignados a este curso</h4>
                    {% else %}
                        {% for semestre in semestres %}
                            {% if current_user.rol_id != 1 %}
                                <table id="listaEstudiantes" class="hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Periodo</th>
                                            <th>Núm. Estudiantes</th>
                                            <th>Núm. Monitores</th>
                                            <th>Núm. Actividades</th>
                                            <th>Ver actividades</th>                                            
                                            <th>Ver Estudiantes</th>
                                            <th>Ver Monitores</th>
                                            <th><img class="habilitarButton" src="/static/icons/tick.png" alt="check image"></th>
                                            <th><img class="habilitarButton" src="/static/icons/x.png" alt="check image"></th>
                                            <th><img class="habilitarButton" src="/static/icons/trash.png" alt="check image"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ semestre.nombre }}</td>
                                            <td>{{ semestre.estudiantes|length }}</td>
                                            <td>{{ semestre.usuarios }}</td>
                                            <td>{{ semestre.actividades|length }}</td>
                                            <td>
                                                <form action="{{ url_for('actividades.verActividades_semestre', curso_id=curso.id, semestre_id=semestre.id) }}">
                                                    <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver actividades</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{{ url_for('semestres.verLista_semestre', curso_id=curso.id, semestre_id=semestre.id) }}">
                                                    <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver estudiantes</button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="{{ url_for('usuarios.verMonitores', curso_id=curso.id, semestre_id=semestre.id) }}">
                                                    <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver monitores</button>
                                                </form>
                                            </td>
                                            {% if semestre.habilitado %}
                                                <td>
                                                    <img src="/static/icons/tick-disabled.png" class="habilitarButton" alt="check image">
                                                </td>
                                                <td>
                                                    <form action="{{ url_for('cursos.cambiarEstadoSemestreCurso', semestre_id=semestre.id,  curso_id=curso.id) }}">
                                                        <button type="submit" class="checkButton"><img src="/static/icons/x.png" class="habilitarButton" alt="check image"></button>
                                                    </form>
                                                </td>
                                            {% else %}
                                            <td>
                                                <form action="{{ url_for('cursos.cambiarEstadoSemestreCurso', semestre_id=semestre.id,  curso_id=curso.id) }}">
                                                    <button type="submit" class="checkButton"><img src="/static/icons/tick.png" class="habilitarButton" alt="check image"></button>
                                                </form>
                                            </td>
                                            <td>
                                                <img src="/static/icons/x-disabled.png" class="habilitarButton" alt="check image">
                                            </td>
                                            {% endif %}
                                            <td>
                                                <form action="{{ url_for('cursos.eliminarCurso_semestre', semestre_id=semestre.id,  curso_id=curso.id) }}">
                                                    <button type="submit" class="checkButton"><img src="/static/icons/trash.png" class="habilitarButton" alt="check image"></button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Periodo</th>
                                            <th>Núm. Estudiantes</th>
                                            <th>Núm. Monitores</th>
                                            <th>Núm. Actividades</th>
                                            <th>Ver actividades</th>                                            
                                            <th>Ver Estudiantes</th>
                                            <th>Ver Monitores</th>
                                            <th><img class="habilitarButton" src="/static/icons/tick.png" alt="check image"></th>
                                            <th><img class="habilitarButton" src="/static/icons/x.png" alt="check image"></th>
                                            <th><img class="habilitarButton" src="/static/icons/trash.png" alt="check image"></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            {% elif numActividadesHabilitadasTotal != 0 %}
                                <table id="listaEstudiantes" class="hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Periodo</th>
                                            <th>Núm. Actividades habilitadas</th>
                                            <th>Ver actividades</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% if semestre.habilitado %}
                                                <td>{{ semestre.nombre }}</td>
                                                <td>{{ semestre.actividadesHabilitadas }}</td>
                                                <td>
                                                    <form action="{{ url_for('actividades.verActividades_semestre', curso_id=curso.id, semestre_id=semestre.id) }}">
                                                        <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Ver actividades</button>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Periodo</th>
                                            <th>Núm. Actividades habilitadas</th>
                                            <th>Ver actividades</th>   
                                        </tr>
                                    </tfoot>
                                </table>
                            {% else %}
                                <h4>No hay actividades habilitadas para calificar</h4>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#listaEstudiantes').DataTable({
                "language" : {
                    "url" : "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            });
        } );
    </script>
{% endblock content %}