{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h1>Mi cuenta</h1>
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h3 class="mr-2">{{ usuario.login }}</h3>
                        </div>
                        <p> <strong>Rol:</strong> {{ rol.nombre }}</p>
                    </div>
                </article>
        </div>
        <div class="col-md-5">
            <div class="content-section">
                <h3>Acciones sobre la cuenta</h3>
                <form action="{{ url_for('usuarios.cambiar_contrasena', usuario_id=usuario.id) }}">
                    <button type="submit" class="btn btn-outline-info usuariossActionsButton">Cambiar contraseña</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}