{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h1>Lista de usuarios</h1>
            {% for usuario in usuarios.items %}
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <h3 class="mr-2">{{ usuario.login }}</h3>
                        </div>
                        {% if usuario.rol_id == 1 %}
                            <p class="pRol"> <strong>Rol:</strong> Monitor</p>
                        {% elif usuario.rol_id == 2 %}
                            <p class="pRol"> <strong>Rol:</strong> Asistente</p>
                        {% elif usuario.rol_id == 3 %}
                            <p class="pRol"> <strong>Rol:</strong> Profesor</p>
                        {% elif usuario.rol_id == 4 %}
                            <p class="pRol"> <strong>Rol:</strong> Admin</p>
                        {% endif%}
                        <form action="{{ url_for('usuarios.ver_usuario', usuario_id=usuario.id) }}">
                            <button type="submit" class="btn btn-outline-info verButton">Ver usuario</button>
                        </form>
                    </div>
                </article>
            {% endfor %}
            {% for page_num in usuarios.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if usuarios.page == page_num %}
                        <a class="btn btn-info mb-4" href="{{ url_for('usuarios.get_usuarios', page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for('usuarios.get_usuarios', page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                    {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-5">
            {% if current_user.rol_id == 2 or current_user.rol_id == 3 or current_user.rol_id == 4%}
                <div class="content-section">
                    <h3>Acciones usuarios</h3>
                    <form action="{{ url_for('usuarios.register') }}">
                        <button type="submit" class="btn btn-outline-info usuariossActionsButton">Crear usuarios</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}