{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <form action="{{ url_for('semestres.ver_semestre', semestre_id=semestre.id) }}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <div class="content-section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <legend class="border-bottom mb-4">Eliminar semestre</legend>
                    <h4>¿Deseas eliminar el semestre {{semestre.nombre}}? Esto borarrá la lista de estudiantes, actividades, calificaciones y demás elementos relacionados a este semestre.</h4>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-danger")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}