{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('cursos.ver_curso', curso_id=curso_id) }}">
                    <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h4 class="mr-2">{{ semestre.nombre }}</h4>
                    </div>
                    <h4>Lista de estudiantes</h4>
                    {% if not semestre.estudiantes %}
                        <form action="{{ url_for('semestres.cargarListaEstudiantes_semestre', curso_id=curso_id, semestre_id=semestre.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Cargar lista de estudiantes</button>
                        </form>
                        <form action="{{ url_for('semestres.descargarFormatoListaEstudiantes_semestre', curso_id=curso_id, semestre_id=semestre.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Descargar formato lista de estudiantes</button>
                        </form>
                        <br>
                        <p>No hay estudiantes asignados a este semestre</p>
                    {% else %}
                    <form action="{{ url_for('semestres.crearEstudiante_semestre', curso_id=curso_id, semestre_id=semestre.id) }}">
                        <button type="submit" class="btn btn-outline-info semestreActions">Crear estudiante</button>
                    </form>
                    <table id="listaEstudiantes" class="hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Login</th>
                                <th>Código</th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                    <th>
                                        <img class="habilitarButton" src="/static/icons/edit.png" alt="edit image">
                                    </th>
                                <th>
                                    <img class="habilitarButton" src="/static/icons/trash.png" alt="edit image">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for estudiante in semestre.estudiantes %}
                            <tr>
                                <td>{{ estudiante.login }}</td>
                                <td>{{ estudiante.codigo }}</td>
                                <td>{{ estudiante.apellido }}</td>
                                <td>{{ estudiante.nombre }}</td>
                                <td>
                                    <form action="{{ url_for('semestres.editarEstudiante_semestre', curso_id=curso_id, semestre_id=semestre.id, estudiante_id=estudiante.id) }}">
                                        <button type="submit" class="checkButton"><img src="/static/icons/edit.png" class="habilitarButton" alt="check image"></button>
                                    </form>
                                </td>
                                <td>
                                    <form action="{{ url_for('semestres.eliminar_estudiante', curso_id=curso_id, semestre_id=semestre.id, estudiante_id=estudiante.id) }}">
                                        <button type="submit" class="checkButton"><img src="/static/icons/trash.png" class="habilitarButton" alt="check image"></button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Login</th>
                                <th>Código</th>
                                <th>Apellidos</th>
                                <th>Nombres</th>
                                    <th>
                                        <img class="habilitarButton" src="/static/icons/edit.png" alt="edit image">
                                    </th>
                                <th>
                                    <img class="habilitarButton" src="/static/icons/trash.png" alt="edit image">
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                    <br>
                    <form action="{{ url_for('semestres.descargarListaEstudiantes_semestre', curso_id=curso_id, semestre_id=semestre.id) }}">
                        <button type="submit" class="btn btn-outline-info semestreActions">Descargar lista de estudiantes</button>
                    </form>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#listaEstudiantes').DataTable({
                "language" : {
                    "url" : "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            });
        } );
    </script>
{% endblock content %}