{% extends "layout.html" %}

{% block content %}
    <p id="actividadId">{{actividad.id}}</p>
    <p id="cursoId">{{curso_id}}</p>
    <p id="grupoId">{{grupo.id}}</p>
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('actividades.ver_grupos_actividad', curso_id=curso_id, actividad_id=actividad.id) }}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <br>
            <article class="media content-section">
                <div class="media-body"> 
                    <div class="article-metadata">
                        <h4 class="mr-2">{{ actividad.nombre }} - Calificar actividad</h4>
                    </div>
                    <h5><strong>Grupo: </strong>{{grupo.numero}}</h5>
                    <h5><strong>Integrantes: </strong>{{grupo.estudiantes}}</h5>
                    <h5 id="nota"></h5>
                    <h5 class="sinEmpezarCalificacion" id="estadoActividad">Estado de la calificación: No finalizado.</h5>
                    <br>
                    <ul class="nav nav-pills" id="myTab" role="tablist">
                        {% for punto in actividad.puntos %}
                            <li class="nav-item">
                                <a class="nav-link activityDescription" id="home-tab" data-toggle="tab"
                                    href={{'#punto' + punto.id|string}} role="tab"
                                    aria-selected="true"><strong>Punto: </strong>{{ punto.nombre }}</a>
                                <div class="checkCancelButtons">
                                    <button class="checkButton"><img src="/static/icons/check.svg" alt="check image" onclick={{"corregirPunto(" + punto.id|string + ",'correcto')"}}></button>
                                    <button class="cancelButton"><img src="/static/icons/cancel.svg" alt="cancel image" onclick={{"corregirPunto(" + punto.id|string + ",'incorrecto')"}}></button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% for punto in actividad.puntos %}
                        <div class="tab-pane fade" id={{"punto" + punto.id|string}}
                            role="tabpanel">
                            <div class="accordion" id="accordionIncisos">
                                {% for inciso in punto.incisos %}
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn incisoButton" type="button" data-toggle="collapse"
                                                data-target={{"#inciso" + inciso.id|string + "delPunto" + punto.id|string}} aria-expanded="true" aria-controls={{"#inciso" + inciso.id|string + "delPunto" + punto.id|string }}>
                                                <strong>Inciso: </strong>{{ inciso.nombre }}
                                            </button>
                                            <div class="checkCancelButtonsInciso">
                                                <button class="checkButtonInciso"><img src="/static/icons/check.svg" alt="check image" onclick={{"corregirInciso(" + inciso.id|string + ",'correcto')"}}></button>
                                                <button class="cancelButtonInciso"><img src="/static/icons/cancel.svg" alt="cancel image" onclick={{"corregirInciso(" + inciso.id|string + ",'incorrecto')"}}></button>
                                            </div>
                                        </h2>
                                    </div>
                                    <div id={{"inciso" + inciso.id|string + "delPunto" + punto.id|string}} class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionIncisos">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                            <p><strong>Criterio:</strong></p>
                                                        {% for criterio in inciso.criterios %}                                                  
                                                            <a class="nav-link incisoDescription" id={{"criterio" + criterio.id|string + "-tab"}} data-toggle="pill" href={{"#criterio" + criterio.id|string}}  role="tab" aria-controls={{"criterio" + criterio.id|string}} aria-selected="false">{{criterio.nombre}}</a> 
                                                            <div class="checkCancelButtonsCriterio">
                                                                <button class="checkButton"><img src="/static/icons/check.svg" alt="check image" onclick={{"corregirCriterio(" + criterio.id|string + ",'correcto')"}}></button>
                                                                <button class="cancelButton"><img src="/static/icons/cancel.svg" alt="cancel image" onclick={{"corregirCriterio(" + criterio.id|string + ",'incorrecto')"}}></button>
                                                            </div>                               
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="tab-content" id="v-pills-tabContent">
                                                        {% for criterio in inciso.criterios %}                                                                                                        
                                                            <div class="tab-pane fade" id={{"criterio" + criterio.id|string}} role="tabpanel" aria-labelledby={{"criterio" + criterio.id|string + "-tab"}}>
                                                                <div class="row">
                                                                    <div class="col-5">
                                                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                                            <p><strong>Subcriterio:</strong></p>
                                                                            {% for subcriterio in criterio.subcriterios %}                                                  
                                                                                <a class="nav-link subincisoDescription" id={{"subcriterio" + subcriterio.id|string + "-tab"}} data-toggle="pill" href={{"#subcriterio" + subcriterio.id|string}}  role="tab" aria-controls={{"subcriterio" + subcriterio.id|string}} aria-selected="false">{{subcriterio.nombre}}</a>
                                                                                <div class="checkCancelButtonsCriterio">
                                                                                    <button class="checkButton"><img src="/static/icons/check.svg" alt="check image" onclick={{"corregirSubcriterio(" + subcriterio.id|string + ",'correcto')"}}></button>
                                                                                    <button class="cancelButton"><img src="/static/icons/cancel.svg" alt="cancel image" onclick={{"corregirSubcriterio(" + subcriterio.id|string + ",'incorrecto')"}}></button>
                                                                                </div>                                  
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-7 ">
                                                                        <div class="tab-content" id="v-pills-tabContent">
                                                                            {% for subcriterio in criterio.subcriterios %}                                                                                                        
                                                                                <div class="tab-pane fade" id={{"subcriterio" + subcriterio.id|string}} role="tabpanel" aria-labelledby={{"subcriterio" + subcriterio.id|string + "-tab"}}>
                                                                                    <div class="variacionGroup">
                                                                                        <div class="variacionText">
                                                                                            <p><strong>Variación:</strong></p>
                                                                                        </div>
                                                                                        <div class="variacionPuntaje">
                                                                                            <p><strong>Puntaje:</strong></p>
                                                                                        </div>
                                                                                    </div>
                                                                                        {% for variacion in subcriterio.variaciones %}
                                                                                        <div class="variacionGroup">
                                                                                            <div class="variacionText" id={{"variacion" + variacion.id|string}}>
                                                                                                <p>{{ variacion.descripcion }}</p>
                                                                                            </div>
                                                                                            <div class="variacionTextInputDiv">
                                                                                                <input type="checkbox" class="notaTextInput" id={{"notaVariacion" + variacion.id|string}}  name={{"notaVariacion" + variacion.id|string}} onclick={{"onlyOneSelected(" + variacion.id|string + ","+ subcriterio.id|string +",false)"}}>
                                                                                            </div>
                                                                                            <div class="variacionPuntaje">
                                                                                                <p class="variacionPuntajeText" id={{"puntajeVariacion"+ variacion.id|string}}>{{ variacion.puntaje }}</p>
                                                                                            </div>
                                                                                        </div>
                                                                                        {% endfor %}
                                                                                </div>                                                                           
                                                                            {% endfor %}
                                                                        </div> 
                                                                    </div>
                                                                </div>
                                                            </div>                                                                           
                                                        {% endfor %}
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-info semestreActions" onclick="guardarCalificacion()">Guardar cambios en la calificación</button>
                    <form
                    action="{{ url_for('actividades.grupo_creado_actividad', curso_id=curso_id, actividad_id=actividad.id,integrantesSeleccionados='2') }}" id="formEnviarCalificacion">
                    <button type="submit" class="btn btn-outline-info semestreActions" id="buttonEnviarCalificacion"></button>
                </form>
                </div>
            </article>
        </div>
    </div>
    <script>
        
        let curso_id = document.getElementById("cursoId");
        curso_id.style.display = "none";

        let actividad_id = document.getElementById("actividadId");
        actividad_id.style.display = "none";

        let grupo_id = document.getElementById("grupoId");
        grupo_id.style.display = "none";

        let buttonEnviarCalificacion = document.getElementById("buttonEnviarCalificacion");
        buttonEnviarCalificacion.style.display = "none";

        let actionFormEnviarCalificacion = document.getElementById("formEnviarCalificacion");

        let actividad = JSON.parse('{{ actividadJSON | tojson | safe}}');

        let notaHTML = document.getElementById("nota");
        notaHTML.innerHTML = "Nota: 0/" + actividad.puntaje;

        let numSubcriterios = actividad.numSubcriterios;
        let numSubcriteriosSeleccionadas = 0; 

        let variacionesSeleccionadasAnteriormente = actividad.calificacionesExistentes;

        let nota = 0;

        let variacionesSeleccionadas = [];

        $(document).ready( function () {
            for(let i=0; i < variacionesSeleccionadasAnteriormente.length;i++){
                let variacionSplit = variacionesSeleccionadasAnteriormente[i].split(":");
                document.getElementById("notaVariacion" + variacionSplit[0]).checked = true;
                onlyOneSelected(parseInt(variacionSplit[0]), parseInt(variacionSplit[1]), false);
            }
        })

        function corregirPunto(id,tipo) {
            let acabo = false;
            let punto = null;
            for (interadorPunto = 0; interadorPunto < actividad.puntos.length; interadorPunto++){
                punto = actividad.puntos[interadorPunto];
                if (punto.id === id){
                    crearElementosEnHTML(punto, "punto", tipo);
                    acabo = true;
                }
                if(acabo){
                    break;
                }
            }
        }

        function corregirInciso(id, tipo){
            let acabo = false;
            let punto = null;
            let inciso = null;
            for (let interadorPunto = 0; interadorPunto < actividad.puntos.length; interadorPunto++){
                punto = actividad.puntos[interadorPunto];
                for (let interadorInciso = 0; interadorInciso < punto.incisos.length; interadorInciso++){
                    inciso = punto.incisos[interadorInciso];
                    if(inciso.id === id) {
                        crearElementosEnHTML(inciso, "inciso", tipo);
                        acabo = true;
                    }
                    if(acabo){
                        break;
                    }
                }
                if(acabo){
                    break;
                }
            }
        }

        function corregirCriterio(id, tipo){
            let acabo = false;
            let punto = null;
            let inciso = null;
            let criterio = null;
            for (let interadorPunto = 0; interadorPunto < actividad.puntos.length; interadorPunto++){
                punto = actividad.puntos[interadorPunto];
                for (let interadorInciso = 0; interadorInciso < punto.incisos.length; interadorInciso++){
                    inciso = punto.incisos[interadorInciso];
                    for (let iteradorCriterio = 0; iteradorCriterio < inciso.criterios.length; iteradorCriterio++) {
                         criterio = inciso.criterios[iteradorCriterio];
                        if(criterio.id === id) {
                            crearElementosEnHTML(criterio, "criterio", tipo);
                            acabo = true;
                        }
                        if(acabo){
                            break;
                        }   
                    }
                    if(acabo){
                        break;
                    }
                }
                if(acabo){
                    break;
                }
            }
        }

        function corregirSubcriterio(id, tipo){
            let acabo = false;
            let punto = null;
            let inciso = null;
            let criterio = null;
            let subcriterio = null;
            for (let interadorPunto = 0; interadorPunto < actividad.puntos.length; interadorPunto++){
                punto = actividad.puntos[interadorPunto];
                for (let interadorInciso = 0; interadorInciso < punto.incisos.length; interadorInciso++){
                    inciso = punto.incisos[interadorInciso];
                    for (let iteradorCriterio = 0; iteradorCriterio < inciso.criterios.length; iteradorCriterio++) {
                         criterio = inciso.criterios[iteradorCriterio];
                        for (let iteradorSubcriterio = 0; iteradorSubcriterio < criterio.subcriterios.length; iteradorSubcriterio++) {
                            subcriterio = criterio.subcriterios[iteradorSubcriterio];
                            if(subcriterio.id === id) {
                                crearElementosEnHTML(subcriterio, "subcriterio", tipo);
                                acabo = true;
                            }
                            if(acabo){
                                break;
                            }  
                        }
                        if(acabo){
                            break;
                        }   
                    }
                    if(acabo){
                        break;
                    }
                }
                if(acabo){
                    break;
                }
            }
        }

        function crearElementosEnHTML(elemento, tipoDeElemento, tipo) {
            switch(tipoDeElemento){
                case "punto":
                    elemento.incisos.forEach(inciso => {
                        inciso.criterios.forEach(criterio => {
                            criterio.subcriterios.forEach( subcriterio => {
                                if (tipo === "correcto") {
                                    let elementoSeleccionar = 0;
                                    mayorPuntaje = 0;
                                    subcriterio.variaciones.forEach( (variacion, index) => {
                                        if (variacion.puntaje > mayorPuntaje){
                                            mayorPuntaje = variacion.puntaje;
                                            elementoSeleccionar = index;
                                        }
                                    });
                                    let elemento = subcriterio.variaciones[elementoSeleccionar];
                                    if(elemento.puntaje > 0){
                                        let idElemento = elemento.id;
                                        onlyOneSelected(idElemento, subcriterio.id, true);
                                    }
                                    
                                } else {
                                    onlyOneSelected("nada", subcriterio.id, true);
                                }
                                    
                            });
                        });
                    });
                    break;
                case "inciso":
                    elemento.criterios.forEach(criterio => {
                        criterio.subcriterios.forEach( subcriterio => {
                            if (tipo === "correcto") {
                                let elementoSeleccionar = 0;
                                mayorPuntaje = 0;
                                subcriterio.variaciones.forEach( (variacion, index) => {
                                    if (variacion.puntaje > mayorPuntaje){
                                        mayorPuntaje = variacion.puntaje;
                                        elementoSeleccionar = index;
                                    }
                                });
                                let idElemento = subcriterio.variaciones[elementoSeleccionar].id;
                                onlyOneSelected(idElemento, subcriterio.id, true);
                            } else {
                                onlyOneSelected("nada", subcriterio.id, true);
                            }
                        });
                    });
                    break;
                case "criterio":
                    elemento.subcriterios.forEach( subcriterio => {
                        if (tipo === "correcto") {
                            let elementoSeleccionar = 0;
                            mayorPuntaje = 0;
                            subcriterio.variaciones.forEach( (variacion, index) => {
                                if (variacion.puntaje > mayorPuntaje){
                                    mayorPuntaje = variacion.puntaje;
                                    elementoSeleccionar = index;
                                }
                            });
                            let idElemento = subcriterio.variaciones[elementoSeleccionar].id;
                            onlyOneSelected(idElemento, subcriterio.id, true);
                        } else {
                            onlyOneSelected("nada", subcriterio.id, true);
                        }   
                    });
                    break;
                case "subcriterio":
                        if (tipo === "correcto") {
                            let elementoSeleccionar = 0;
                            mayorPuntaje = 0;
                            elemento.variaciones.forEach( (variacion, index) => {
                                if (variacion.puntaje > mayorPuntaje){
                                    mayorPuntaje = variacion.puntaje;
                                    elementoSeleccionar = index;
                                }
                            });
                            let idElemento = elemento.variaciones[elementoSeleccionar].id;
                            onlyOneSelected(idElemento, elemento.id, true);
                        } else {
                            onlyOneSelected("nada", elemento.id, true);
                        }   
                    break;
            }
        }

        function onlyOneSelected(idCheckbox, idParent, desdeBoton) {
            console.log(numSubcriteriosSeleccionadas)
            actividad.puntos.forEach(punto => {
                punto.incisos.forEach(inciso => {
                    inciso.criterios.forEach(criterio => {
                        criterio.subcriterios.forEach( subcriterio => {
                            if (subcriterio.id == idParent) {
                                if (idCheckbox === "nada" ){
                                    subcriterio.variaciones.forEach( variacion => { 
                                        let checkbox = document.getElementById("notaVariacion" + variacion.id)                  
                                        if(checkbox.checked){
                                            let valor = parseFloat(document.getElementById("puntajeVariacion"+ variacion.id).innerHTML);
                                            nota = nota - valor;
                                            notaHTML.innerHTML = "Nota: " + nota + "/"+ actividad.puntaje;
                                            checkbox.checked = false;
                                            variacionesSeleccionadas.splice( variacionesSeleccionadas.indexOf(variacion.id), 1 );
                                            numSubcriteriosSeleccionadas = numSubcriteriosSeleccionadas - 1;
                                        }
                                        if(variacion.esOtro == true){
                                            document.getElementById("notaVariacion" + variacion.id).checked = true;
                                            variacionesSeleccionadas.push(variacion.id)
                                            numSubcriteriosSeleccionadas = numSubcriteriosSeleccionadas + 1;
                                        }                                        
                                    });
                                    verificarFinalizacion()      
                                } else {
                                    subcriterio.variaciones.forEach( variacion => {
                                        let idElementToChange = variacion.id;
                                        let checkbox = document.getElementById("notaVariacion" + idElementToChange);
                                        if (idElementToChange !== idCheckbox) {
                                            if(checkbox.checked){
                                                let valor = parseFloat(document.getElementById("puntajeVariacion"+ idElementToChange).innerHTML);
                                                nota = nota - valor;
                                                notaHTML.innerHTML = "Nota: " + nota + "/"+ actividad.puntaje;
                                                variacionesSeleccionadas.splice( variacionesSeleccionadas.indexOf(idElementToChange), 1 );
                                                numSubcriteriosSeleccionadas = numSubcriteriosSeleccionadas - 1;
                                            }
                                            checkbox.checked = false;
                                        } else {
                                            let valor = parseFloat(document.getElementById("puntajeVariacion"+ idElementToChange).innerHTML);
                                            if (desdeBoton){
                                                if(!checkbox.checked){
                                                    document.getElementById("notaVariacion" + idElementToChange).checked = true;
                                                    nota = nota + valor;
                                                    numSubcriteriosSeleccionadas = numSubcriteriosSeleccionadas + 1;
                                                    variacionesSeleccionadas.push(idElementToChange)
                                                } 
                                            } else {
                                                if(!checkbox.checked){
                                                    nota = nota - valor;
                                                    numSubcriteriosSeleccionadas = numSubcriteriosSeleccionadas - 1;
                                                    variacionesSeleccionadas.splice( variacionesSeleccionadas.indexOf(idElementToChange), 1 );
                                                    verificarFinalizacion()
                                                } else {
                                                    nota = nota + valor;
                                                    numSubcriteriosSeleccionadas = numSubcriteriosSeleccionadas + 1;
                                                    variacionesSeleccionadas.push(idElementToChange)
                                                }
                                            }                                            
                                            verificarFinalizacion()
                                            notaHTML.innerHTML = "Nota: " + nota + "/"+ actividad.puntaje;
                                        }                                       
                                    });
                                }
                            }
                        });
                    });
                });
            })
        }

    function verificarFinalizacion(){
        let estado = document.getElementById("estadoActividad");
        if (numSubcriteriosSeleccionadas >= numSubcriterios){
            estado.innerHTML = "Estado de la calificación: Finalizado.";
            estado.className = '';
            estado.className = 'finalizadoCalificacion';
        } else if ( numSubcriteriosSeleccionadas == 0) {
            estado.innerHTML = "Estado de la calificación: Sin empezar.";
            estado.className = '';
            estado.className = 'sinEmpezarCalificacion';
        } else {
            estado.innerHTML = "Estado de la calificación: No finalizado.";
            estado.className = '';
            estado.className = 'noFinalizadoCalificacion';
        }
    }

    function guardarCalificacion(){
        let estado = document.getElementById("estadoActividad").innerHTML;
        let estadoString = "";
        if (estado === "Estado de la calificación: Finalizado."){
            estadoString = "Finalizado";
        } else if (estado === "Estado de la calificación: No finalizado."){
            estadoString = "Incompleto";
        } else {
            estadoString = "SinEmpezar";
        }
        let stringVariaciones = "";
        for(let i=0; i< variacionesSeleccionadas.length; i++){
            stringVariaciones = stringVariaciones + variacionesSeleccionadas[i] +  ":";
        }
        if (stringVariaciones == ""){
            stringVariaciones = "sinVariaciones";
        }
        actionFormEnviarCalificacion.action = "/actividades/" + actividad_id.innerHTML + "/"+ curso_id.innerHTML +  "/" + grupo_id.innerHTML + "/guardarNotas/" + stringVariaciones + "/" +estadoString +"/" + nota +"/"+actividad.puntaje;
        buttonEnviarCalificacion.click(); 
    }
    </script>
{% endblock content %}