{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('cursos.ver_curso', curso_id=curso_id) }}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <br>
            <article class="media content-section">
                <div class="media-body">
                    <h4 class="mr-2">{{ actividad.nombre }} - Calificar actividad</h4>
                    <ul class="nav nav-pills" id="myTab" role="tablist">
                        {% for punto in actividad.puntos %}
                            <li class="nav-item">
                                <a class="nav-link activityDescription" id="home-tab" data-toggle="tab"
                                    href={{'#punto' + punto.id|string}} role="tab"
                                    aria-selected="true"><strong>Punto: </strong>{{ punto.nombre }}</a>
                                <div class="checkCancelButtons">
                                    <button class="checkButton"><img src="/static/icons/check.svg" alt="check image"></button>
                                    <button class="cancelButton"><img src="/static/icons/cancel.svg" alt="cancel image"></button>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {% for punto in actividad.puntos %}
                        <div class="tab-pane fade" id={{"punto" + punto.id|string}}
                            role="tabpanel">
                            <div class="accordion" id="accordionIncisos">
                                {% for inciso in punto.incisos %}
                                <div class="card">
                                    <div class="card-header">
                                        <h2 class="mb-0">
                                            <button class="btn incisoButton" type="button" data-toggle="collapse"
                                                data-target={{"#inciso" + inciso.id|string + "delPunto" + punto.id|string}} aria-expanded="true" aria-controls={{"#inciso" + inciso.id|string + "delPunto" + punto.id|string }}>
                                                <strong>Inciso: </strong>{{ inciso.nombre }}
                                            </button>
                                            <div class="checkCancelButtonsInciso">
                                                <button class="checkButtonInciso"><img src="/static/icons/check.svg" alt="check image" onclick={{"todoIncisoCorrecto(" + inciso.id|string + ")"}}></button>
                                                <button class="cancelButtonInciso"><img src="/static/icons/cancel.svg" alt="cancel image"></button>
                                            </div>
                                        </h2>
                                    </div>
                                    <div id={{"inciso" + inciso.id|string + "delPunto" + punto.id|string}} class="collapse" aria-labelledby="headingOne"
                                        data-parent="#accordionIncisos">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                            <p><strong>Criterio:</strong></p>
                                                        {% for criterio in inciso.criterios %}                                                  
                                                            <a class="nav-link incisoDescription" id={{"criterio" + criterio.id|string + "-tab"}} data-toggle="pill" href={{"#criterio" + criterio.id|string}}  role="tab" aria-controls={{"criterio" + criterio.id|string}} aria-selected="false">{{criterio.nombre}}</a> 
                                                            <div class="checkCancelButtonsCriterio">
                                                                <button class="checkButton"><img src="/static/icons/check.svg" alt="check image"></button>
                                                                <button class="cancelButton"><img src="/static/icons/cancel.svg" alt="cancel image"></button>
                                                            </div>                               
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-10">
                                                    <div class="tab-content" id="v-pills-tabContent">
                                                        {% for criterio in inciso.criterios %}                                                                                                        
                                                            <div class="tab-pane fade" id={{"criterio" + criterio.id|string}} role="tabpanel" aria-labelledby={{"criterio" + criterio.id|string + "-tab"}}>
                                                                <div class="row">
                                                                    <div class="col-5">
                                                                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                                            <p><strong>Subcriterio:</strong></p>
                                                                            {% for subcriterio in criterio.subcriterios %}                                                  
                                                                                <a class="nav-link subincisoDescription" id={{"subcriterio" + subcriterio.id|string + "-tab"}} data-toggle="pill" href={{"#subcriterio" + subcriterio.id|string}}  role="tab" aria-controls={{"subcriterio" + subcriterio.id|string}} aria-selected="false">{{subcriterio.nombre}}</a>
                                                                                <div class="checkCancelButtonsCriterio">
                                                                                    <button class="checkButton"><img src="/static/icons/check.svg" alt="check image"></button>
                                                                                    <button class="cancelButton"><img src="/static/icons/cancel.svg" alt="cancel image"></button>
                                                                                </div>                                  
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-7 ">
                                                                        <div class="tab-content" id="v-pills-tabContent">
                                                                            {% for subcriterio in criterio.subcriterios %}                                                                                                        
                                                                                <div class="tab-pane fade" id={{"subcriterio" + subcriterio.id|string}} role="tabpanel" aria-labelledby={{"subcriterio" + subcriterio.id|string + "-tab"}}>
                                                                                    <div class="variacionGroup">
                                                                                        <div class="variacionText">
                                                                                            <p><strong>Variación:</strong></p>
                                                                                        </div>
                                                                                        <div class="variacionTextInputDiv">
                                                                                            <p><strong>Nota:</strong></p>
                                                                                        </div>
                                                                                        <div class="variacionPuntaje">
                                                                                            <p><strong>Puntaje máx:</strong></p>
                                                                                        </div>
                                                                                    </div>
                                                                                    {% for variacion in subcriterio.variaciones %}
                                                                                        <div class="variacionGroup">
                                                                                            <div class="variacionText" id={{"variacion" + variacion.id|string}}>
                                                                                                <p>{{ variacion.descripcion }}</p>
                                                                                            </div>
                                                                                            <div class="variacionTextInputDiv">
                                                                                                <input type="number" class="notaTextInput" name={{"notaVariacion" + variacion.id|string}}>
                                                                                            </div>
                                                                                            <div class="variacionPuntaje">
                                                                                                <p class="variacionPuntajeText">{{ variacion.puntaje }}</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                </div>                                                                           
                                                                            {% endfor %}
                                                                        </div> 
                                                                    </div>
                                                                </div>
                                                            </div>                                                                           
                                                        {% endfor %}
                                                    </div> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <br>
                    <form action="{{ url_for('actividades.descargar_actividad', actividad_id=actividad.id, curso_id=curso_id) }}">
                        <button type="submit" class="btn btn-outline-info semestreActions">Guardar cambios en la calificación</button>
                    </form>
                </div>
            </article>
        </div>
    </div>
    <script>
        function todoIncisoCorrecto(id) {
            console.log(id);
            let user = JSON.parse('{{ actividadJSON| tojson | safe}}');
            console.log(user);
        }
    </script>
{% endblock content %}