{% extends "layout.html" %}

{% block content %}
    <p id="numeroIntegrantes">{{numero_integrantes}}</p>
    <p id="cursoId">{{curso_id}}</p>
    <p id="actividadId">{{actividad.id}}</p>
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('actividades.ver_grupos_actividad', curso_id=curso_id, actividad_id=actividad.id) }}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            {% if not estudiantes %}
                <h4>No hay estudiantes disponibles para incluir en un grupo</h4>
            {% else %}
                <div class="content-section">
                    <form method="POST" action="" enctype="multipart/form-data" id="createForm" name="createForm">
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Crear grupo - {{ actividad.nombre }}</legend>
                            <div class="form-group">
                                <table id="listaEstudiantes" class="hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Login</th>
                                            <th>Código</th>
                                            <th>Apellidos</th>
                                            <th>Nombres</th>
                                            <th>Eliminar estudiante</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><input type="text" name="codigo" value=""></td>
                                            <td><input type="text" name="login" value=""></td>
                                            <td></td>
                                            <td></td>
                                            <td><button class="btn btn-outline-danger" >Eliminar</button></td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Login</th>
                                            <th>Código</th>
                                            <th>Apellidos</th>
                                            <th>Nombres</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </fieldset>
                        <button class="btn btn-outline-info semestreActions" onclick="">Añadir estudiante</button>
                        <br>
                        <button class="btn btn-success" onclick="verificarEstudiantesSeleccionados(event)">Crear grupo</button>
                    </form>
                    <form
                        action="{{ url_for('actividades.grupo_creado_actividad', curso_id=curso_id, actividad_id=actividad.id,integrantesSeleccionados='2') }}" id="formCrearGrupo">
                        <button type="submit" class="btn btn-outline-info semestreActions" id="buttonCrearGrupo">Crear grupo</button>
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
                    $('#listaEstudiantes').DataTable({
                        "language" : {
                            "url" : "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                        }
                    });
                } );
        var numero_integrantes = document.getElementById("numeroIntegrantes");
        numero_integrantes.style.display = "none";

        var curso_id = document.getElementById("cursoId");
        curso_id.style.display = "none";

        var actividad_id = document.getElementById("actividadId");
        actividad_id.style.display = "none";

        var buttonCrearGrupo = document.getElementById("buttonCrearGrupo");
        buttonCrearGrupo.style.display = "none";

        var actionFormButtonCrearGrupo = document.getElementById("formCrearGrupo")

        function verificarEstudiantesSeleccionados(e){
            e.preventDefault()
            let estudiantesEnDropdown = [];
            let todoCorrecto = true;
            for(let i = 0; i< numero_integrantes.innerHTML && todoCorrecto; i++){
                let dropdownToCheck = document.getElementById("integrantes-" + i).value;
                if(!estudiantesEnDropdown.includes(dropdownToCheck)){
                    estudiantesEnDropdown.push(dropdownToCheck);
                } else {
                    todoCorrecto = false;
                }
            }

            if(todoCorrecto){
                let grupoCreado = "";
                for(let j = 0; j < estudiantesEnDropdown.length; j++) {
                    grupoCreado = grupoCreado + estudiantesEnDropdown[j] + ":" ;
                }
                actionFormButtonCrearGrupo.action = "/actividades/" + curso_id.innerHTML + "/"+ actividad_id.innerHTML + "/grupoCreado/" + grupoCreado;
                buttonCrearGrupo.click();
            } else {
                alert("Uno o más estudiantes están repetidos. Por favor verificar la elección de los grupos.");
            }
        }
    </script>
{% endblock content %}