{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('cursos.ver_curso', curso_id=curso_id) }}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h4 class="mr-2">{{ actividad.nombre }} - Acciones sobre los grupos</h4>
                    </div>
                    <h4>Esta actividad está asignada para {{ actividad.numeroIntegrantes }} personas</h4>
                    <form
                        action="{{ url_for('actividades.crear_grupo_actividad', curso_id=curso_id, actividad_id=actividad.id, numero_integrantes=actividad.numeroIntegrantes) }}">
                        <button type="submit" class="btn btn-outline-info semestreActions">Crear grupos</button>
                    </form>
                    <br>
                    <h4>Lista de grupos</h4>
                    {% if not actividad.grupos %}
                        <p>No hay grupos creados hasta el momento.</p>
                    {% else %}
                        <table id="listaEstudiantes" class="hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID grupo</th>
                                    <th>Núm. Integrantes</th>
                                    <th>Nota</th>
                                    <th>Calificador</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for grupo in actividad.grupos %}
                                <tr>
                                    <td>{{ grupo.numero }}</td>
                                    <td>{{ grupo.estudiantes|length }}</td>
                                    <td>{{ grupo.calificaciones }}</td>
                                    <td>Calificador</td>
                                    <td>Estado</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID grupo</th>
                                    <th>Núm. Integrantes</th>
                                    <th>Nota</th>
                                    <th>Calificador</th>
                                    <th>Estado</th>
                                </tr>
                            </tfoot>
                        </table>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#listaEstudiantes').DataTable({
                "language" : {
                    "url" : "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            });
        } );
    </script>
{% endblock content %}