{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{ url_for('actividades.verActividades_semestre', curso_id=curso.id, semestre_id=semestre.id) }}">
                <input type="image" class="BackButton" src="https://image.flaticon.com/icons/svg/271/271218.svg" />
            </form>
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <h4 class="mr-2"> {{ curso.nombre}} - {{ semestre.nombre }} - {{ actividad.nombre }}  </h4>
                    </div>
                    <form
                        action="{{ url_for('actividades.crear_grupo_actividad', curso_id=curso.id, actividad_id=actividad.id, numero_integrantes=actividad.numeroIntegrantes) }}">
                        <button type="submit" class="btn btn-outline-info semestreActions">Crear grupos</button>
                    </form>
                    <h4>Lista de grupos</h4>
                    {% if not grupos %}
                        <h5>No hay grupos creados hasta el momento.</h5>
                    {% else %}
                        <table id="listaEstudiantes" class="hover" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Grupo</th>
                                    <th>Núm. Integrantes</th>
                                    <th>Nota</th>
                                    <th>Estado</th>
                                    <th>Calificador</th>
                                    <th><img class="habilitarButton" src="/static/icons/edit.png" alt="check image"></th>
                                    <th>Calificar</th>
                                    <th><img class="habilitarButton" src="/static/icons/trash.png" alt="check image"></th>
                                    <th>Generar Informe</th>
                                    <th>Enviar Informe</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for grupo in grupos %}
                                <tr>
                                    <td>{{ grupo.numero }}</td>
                                    <td>{{ grupo.estudiantes|length }}</td>
                                    <td>{{ '%0.2f'| format(grupo.nota|float) }}</td>
                                    {% if grupo.estadoCalifacion == "Finalizado" %}
                                        <td class="finalizadoCalificacion">Calificado</td>
                                    {% elif grupo.estadoCalifacion == "Incompleto" %}
                                        <td class="noFinalizadoCalificacion">Incompleto</td>
                                    {% else %}
                                        <td class="sinEmpezarCalificacion">Sin empezar</td>
                                    {% endif %}
                                    <td>{{ grupo.creador}}</td>
                                    <td>
                                        <form action="{{ url_for('actividades.calificar_actividad', curso_id=curso.id, actividad_id=actividad.id,grupo_id=grupo.id) }}">
                                            <button type="submit" class="checkButton"><img class="habilitarButton" src="/static/icons/edit.png" alt="check image"></button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('actividades.calificar_actividad', curso_id=curso.id, actividad_id=actividad.id,grupo_id=grupo.id) }}">
                                            <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Calificar</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('actividades.eliminar_grupo_semestre', curso_id=curso.id, actividad_id=actividad.id,grupo_id=grupo.id) }}">
                                            <button type="submit" class="checkButton"><img class="habilitarButton" src="/static/icons/trash.png" alt="check image"></button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('actividades.generar_informe', curso_id=curso.id, actividad_id=actividad.id, grupo_id=grupo.id) }}">
                                            <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Generar informe</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{{ url_for('actividades.calificar_actividad', curso_id=curso.id, actividad_id=actividad.id,grupo_id=grupo.id) }}">
                                            <button type="submit" class="btn btn-outline-info eliminarCursoSemestre">Enviar Informe</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Grupo</th>
                                    <th>Núm. Integrantes</th>
                                    <th>Nota</th>
                                    <th>Estado</th>
                                    <th>Calificador</th>
                                    <th><img class="habilitarButton" src="/static/icons/edit.png" alt="check image"></th>
                                    <th>Calificar</th>
                                    <th><img class="habilitarButton" src="/static/icons/trash.png" alt="check image"></th>
                                    <th>Generar Informe</th>
                                    <th>Descargar Informe</th>
                                </tr>
                            </tfoot>
                        </table>
                        <form action="">
                            <button type="submit" class="btn btn-outline-info semestreActions">Generar Informes</button>
                        </form>
                        <form action="">
                            <button type="submit" class="btn btn-outline-info semestreActions">Enviar Informes</button>
                        </form>
                        <form action="{{ url_for('actividades.descargar_notas', curso_id=curso.id, actividad_id=actividad.id) }}">
                            <button type="submit" class="btn btn-outline-info semestreActions">Descargar Notas</button>
                        </form>
                    {% endif %}
                </div>
            </article>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#listaEstudiantes').DataTable({
                "language" : {
                    "url" : "//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json"
                }
            });
        } );
    </script>
{% endblock content %}